<nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar pt-0">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item" data-ng-repeat="file in $ctrl.fileList">
            <a class="nav-link" data-ng-class="{ 'active': file.active }" href="" 
                ui-sref="table({ fileName: file.sref })"
                data-ng-click="$ctrl.setActive(file)">{{file.name}} table</a>
        </li>
        <li class="nav-item mt-2 ml-3" data-ng-if="!$ctrl.fileList">Recent table list.</li>
    </ul>
</nav>