@import '../../styles/whizz-variables.scss';
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    background-color: $light;
}
  
.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-link {
    border-radius: 0;
    &.active {
        background-color: $bg-purple;
        border-top: $gray-100 solid 1px;
    }
}