<h4>{{ $ctrl.pageTitle }} table</h4>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <!-- Column header -->
                <th data-ng-repeat="(key, value) in $ctrl.tableHeaderFields">
                    <a href="" data-ng-click="$ctrl.sortType = value.value; $ctrl.sortReverse = !$ctrl.sortReverse">
                        {{ value.pretty }}
                    </a>
                    <span class="float-right mt-1 oi cursor-pointer" data-ng-if="$ctrl.sortType === value.value" 
                        data-ng-class="{ 'oi-caret-bottom': $ctrl.sortReverse, 'oi-caret-top': !$ctrl.sortReverse }"
                        data-ng-click="$ctrl.sortReverse = !$ctrl.sortReverse"></span>
                </th>
            </tr>
            <tr>
                <form>
                    <!-- Filter form -->
                    <th data-ng-repeat="(key, value) in $ctrl.tableHeaderFields">
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <!-- Integer, decimal, string input -->
                                <input type="text" class="form-control" placeholder="{{ value.pretty }}"
                                    data-ng-if="value.type !== 'date' && value.type !== 'object'"
                                    data-ng-model="$ctrl.searchFilter[value.value]"
                                    data-ng-change="$ctrl.resetSearch(value.value, $ctrl.searchFilter)" />
                                
                                <!-- Object input -->
                                <input type="text" class="form-control" placeholder="{{ value.pretty }}"
                                    data-ng-if="value.type === 'object'"
                                    data-ng-model="$ctrl.searchObject" />

                                <!-- Date input -->
                                <input type="text" class="form-control" uib-datepicker-popup 
                                    data-ng-if="value.type === 'date'"
                                    data-ng-model="$ctrl.searchDate[value.value]" 
                                    is-open="value.isCalendarOpened",
                                    datepicker-append-to-body="true"
                                    placeholder="{{ value.pretty }}"
                                    data-ng-change="$ctrl.resetSearch(value.value, $ctrl.searchDate)"
                                    datepicker-options="dateOptions" data-ng-required="false" close-text="Close" />
                                <span class="input-group-btn" data-ng-if="value.type === 'date'">
                                    <button type="button" class="btn btn-default rounded-0" data-ng-click="value.isCalendarOpened = !value.isCalendarOpened">
                                        <i class="oi oi-calendar"></i>
                                    </button>
                                </span>                                    
                            </div>
                        </div>
                    </th>
                </form>
            </tr>
        </thead>       
        <tbody>
            <!-- Data -->
            <tr data-ng-repeat="(key, value) in $ctrl.tableData | filter:$ctrl.searchFilter | dateFilter:$ctrl.searchDate | filter:{ $: { $: $ctrl.searchObject}} | orderBy:$ctrl.sortType:$ctrl.sortReverse">
                <td data-ng-repeat="(k, v) in value" data-ng-if="k !== 'types'" data-ng-class="{'text-right': value.types[k] === 'integer' || value.types[k] === 'decimal' || value.types[k] === 'currency'}">
                    <span data-ng-if="value.types[k] === 'decimal'">{{ v | currency:USD:2 }}</span>
                    <span data-ng-if="value.types[k] === 'object'">
                        <ul>
                            <li data-ng-repeat="(k, v) in v">{{ k }}: {{ v }}</li>
                        </ul>
                    </span>
                    <span data-ng-if="value.types[k] === 'integer' || value.types[k] === 'string' || value.types[k] === 'date' || value.types[k] === 'currency'">{{ v }}</span>
                    <span data-ng-if="value.types[k] === 'url'">
                        <a ng-href="{{v}}">{{ v }}</a>
                    </span>
                    <span data-ng-if="value.types[k] === 'email'">
                        <a ng-href="mailto:{{v}}">{{ v }}</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>