<header>
    <nav class="navbar navbar-toggleable-md fixed-top">
        <span class="logo-text text-white d-flex justify-content-start pt-1">WhizzTables</span>
        <button class="navbar-toggler navbar-toggler-right d-sm-none d-flex justify-content-end" type="button" 
            data-toggle="collapse"
            data-target="#navbarsExampleDefault" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="oi oi-menu text-white"></span>
        </button>
    </nav>
</header>