<div class="app">
    <!-- Header component -->
    <whizz-header></whizz-header>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar component -->
            <whizz-sidebar></whizz-sidebar>
            <!-- Main content -->
            <main ui-view class="col-sm-9 col-md-10 offset-md-2 offset-sm-3 mt-6"></main>
        </div>
    </div>
</div>