// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Iconic
@import "./assets/fonts/iconic/css/open-iconic-bootstrap.css";

// Variable
@import "./styles/whizz-variables.scss";

// Font
@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-400.ttf') format('truetype'), 
         url('./assets/fonts/Roboto-400.woff') format('woff'), 
         url('./assets/fonts/Roboto-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-500.ttf') format('truetype'), 
         url('./assets/fonts/Roboto-500.woff') format('woff'), 
         url('./assets/fonts/Roboto-500.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-700.ttf') format('truetype'), 
         url('./assets/fonts/Roboto-700.woff') format('woff'), 
         url('./assets/fonts/Roboto-700.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-900.ttf') format('truetype'), 
         url('./assets/fonts/Roboto-900.woff') format('woff'), 
         url('./assets/fonts/Roboto-900.woff2') format('woff2');
    font-weight: 900;
}

/*
* Common styles
*/

body {
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, 'sans-serif';
  }
  
  a:hover, a:link, a:active, a:visited {
    text-decoration: none;
    color: #333;
  }

/*
* Utility
*/

.mt-6 {
    margin-top: -6px;
}